.chatmain
  .chatmain__group
    .chatmain__group--left
      %p.chatmain__group__name 
        = @group.name
      %ul.chatmain__group__member__list
        %li
        Member :
        - @group.group_users.each do |group_user|
          = group_user.user.name
    .chatmain__group--right
<<<<<<< Updated upstream
      = link_to "#", class:"edit--btn" do
=======
      = link_to edit_group_path(@group), class:"edit--btn" do
>>>>>>> Stashed changes
        Edit
  .message--list
    = render @messages
  .form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'form__message', placeholder: 'type a message'
      .form__mask
        = f.label :image, class: 'form__mask__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit'