.sidebar
  .sidebar__header
    .sidebar__header__top
      %h3.sidebar__header__top__name 
        = current_user.name
      %ul.sidebar__header__top__menu
        %li.sidebar__header__top__edit-user
          = link_to new_group_path, class: "icon" do
            = icon('fas', 'edit')
        %li.sidebar__header__top__new-group
          = link_to edit_user_path(current_user), class: "icon" do
            = icon("fas", "cog")
  .groups
    - current_user.groups.each do |group|
      .group
        = link_to "#", class: "group" do
          %p.group__name 
            = group.name
          %p.group__message 
            = group.id